

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Space Mono";
    font-weight: 400;
}

.menu-navbar{
    width: 100vw;
    height: 100px;
}

.ul-menu{
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start; 
    list-style-type: none;
    background-color: #222222;
}

.ul-menu li{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin: 2px 2px;
    text-decoration: none;
}

.li-menu{
    background-color: #333333;
    color: #eeeeee;
    border-top: 3px solid #333333;
    flex-grow: 1;
}

.li-menu-logo{
    background-color: #eeeeee;
    color: #222222;
    border-top: 3px solid #eeeeee;
    flex-grow: 3;
    font-weight: 600;
}

.li-menu:active{
    border-top: 3px solid rgb(194, 78, 78);
}

.header-container{
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
}

.div-header{
flex-grow: 1;
}
